nav{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);

}
header, footer{
    background-color: rgb(117, 168, 133);
    display: grid;
    justify-content: center;
}
aside{
   background-color: rgb(241, 238, 238); 
   display: grid;
   grid-template-columns: repeat(1, 1fr);
}
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}